In [17]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import numpy as np
from sklearn.preprocessing import StandardScaler

In [3]:
df =  pd.read_csv(r'C:\Users\DY\Documents\GitHub\UFCproject\CSV Files\df_ufc_masters.csv')

In [4]:
selected_features = [
    'R_fighter',
    'R_avg_SIG_STR_landed',
    'R_avg_SIG_STR_pct',
    'R_avg_SUB_ATT',
    'R_avg_TD_landed',
    'R_avg_TD_pct',
    'R_Height_cms',
    'R_Reach_cms',
    'R_age'
]

In [5]:
df_selected = df[selected_features]

In [6]:
fighter_counts = df_selected['R_fighter'].value_counts().rename('count')

In [7]:
df_selected = df_selected.merge(fighter_counts, left_on='R_fighter', right_index=True)

In [8]:
grouped_features = [
    'R_avg_SIG_STR_landed',
    'R_avg_SIG_STR_pct',
    'R_avg_SUB_ATT',
    'R_avg_TD_landed',
    'R_avg_TD_pct'
]
df_grouped = df_selected.groupby('R_fighter')[grouped_features].mean()

In [9]:
df_final = df_grouped.merge(df_selected[['R_fighter', 'count', 'R_Height_cms', 'R_Reach_cms', 'R_age']].drop_duplicates(), on='R_fighter')

In [10]:
df_final

,R_fighter,R_avg_SIG_STR_landed,R_avg_SIG_STR_pct,R_avg_SUB_ATT,R_avg_TD_landed,R_avg_TD_pct,count,R_Height_cms,R_Reach_cms,R_age
0,Jun Yong Park,0.000000,0.521700,0.0,0.500000,0.250,1,177.80,185.42,28
1,Aalon Cruz,8.310000,0.395000,0.0,0.000000,0.000,2,182.88,198.12,30
2,Aalon Cruz,8.310000,0.395000,0.0,0.000000,0.000,2,182.88,198.12,31
3,Aaron Phillips,6.623333,0.346667,0.5,0.000000,0.000,3,175.26,177.80,25
4,Aaron Phillips,6.623333,0.346667,0.5,0.000000,0.000,3,175.26,177.80,30
...,...,...,...,...,...,...,...,...,...,...
5994,Zu Anyanwu,0.000000,0.000000,0.0,0.000000,0.000,1,185.42,195.58,36
5995,Zubaira Tukhugov,18.226667,0.327500,0.0,1.957222,0.395,6,172.72,172.72,24
5996,Zubaira Tukhugov,18.226667,0.327500,0.0,1.957222,0.395,6,172.72,172.72,23
5997,Zubaira Tukhugov,18.226667,0.327500,0.0,1.957222,0.395,6,172.72,172.72,29
5998,Zubaira Tukhugov,18.226667,0.327500,0.0,1.957222,0.395,6,172.72,172.72,25

In [11]:
df_final_unique = df_final.drop_duplicates(subset='R_fighter')

In [12]:
# List of columns to apply np.log
columns_to_log = ['R_avg_SIG_STR_landed', 'R_avg_SUB_ATT', 'R_avg_TD_landed']

# Applying np.log to each column in the list
for col in columns_to_log:
    # Adding a small constant to avoid log(0) which is undefined
    df_final_unique[col] = np.log(df[col] + 1e-5)

C:\Users\DY\AppData\Local\Temp\ipykernel_21916\974385815.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_unique[col] = np.log(df[col] + 1e-5)

In [15]:
# NÃ… SKAL DU STANDARDSCALE
features_std_sc = [
    'R_age',
    'R_avg_SIG_STR_landed',
    'R_avg_SIG_STR_pct',
    'R_avg_SUB_ATT',
    'R_avg_TD_landed',
    'R_avg_TD_pct',
    'R_Height_cms',
    'R_Reach_cms'
]

In [16]:
df_final_unique[features_std_sc].isna().sum()

R_age                   0
R_avg_SIG_STR_landed    0
R_avg_SIG_STR_pct       0
R_avg_SUB_ATT           0
R_avg_TD_landed         0
R_avg_TD_pct            0
R_Height_cms            0
R_Reach_cms             0
dtype: int64

In [20]:
sc = StandardScaler()
df_final_unique[[
    'R_age_ss',
    'R_avg_SIG_STR_landed_ss',
    'R_avg_SIG_STR_pct_ss',
    'R_avg_SUB_ATT_ss',
    'R_avg_TD_landed_ss',
    'R_avg_TD_pct_ss',
    'R_Height_cms_ss',
    'R_Reach_cms_ss']] = sc.fit_transform(df_final_unique[features_std_sc])

C:\Users\DY\AppData\Local\Temp\ipykernel_21916\410505923.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_unique[[

In [21]:
columns_to_drop = [
    'R_age',
    'R_avg_SIG_STR_landed',
    'R_avg_SIG_STR_pct',
    'R_avg_SUB_ATT',
    'R_avg_TD_landed',
    'R_avg_TD_pct',
    'R_Height_cms',
    'R_Reach_cms'
]

df_final_unique = df_final_unique.drop(columns=columns_to_drop)

In [22]:
rename_dict = {
    'R_age_ss': 'R_age',
    'R_avg_SIG_STR_landed_ss': 'R_avg_SIG_STR_landed',
    'R_avg_SIG_STR_pct_ss': 'R_avg_SIG_STR_pct',
    'R_avg_SUB_ATT_ss': 'R_avg_SUB_ATT',
    'R_avg_TD_landed_ss': 'R_avg_TD_landed',
    'R_avg_TD_pct_ss': 'R_avg_TD_pct',
    'R_Height_cms_ss': 'R_Height_cms',
    'R_Reach_cms_ss': 'R_Reach_cms'
}

df_final_unique = df_final_unique.rename(columns=rename_dict)

In [23]:
df_final_unique.to_csv('unike_fighters.csv', index=False)

In [24]:
df_final_unique

,R_fighter,count,R_age,R_avg_SIG_STR_landed,R_avg_SIG_STR_pct,R_avg_SUB_ATT,R_avg_TD_landed,R_avg_TD_pct,R_Height_cms,R_Reach_cms
0,Jun Yong Park,1,-0.568009,0.073973,1.128869,0.455510,0.399542,0.048518,0.010416,0.318415
1,Aalon Cruz,2,-0.089282,0.012277,0.287951,0.756602,0.665768,-1.106295,0.579370,1.507865
3,Aaron Phillips,3,-1.286100,0.065027,-0.032842,-1.267657,0.591070,-1.106295,-0.274061,-0.395255
6,Aaron Riley,3,0.389445,0.095836,0.189316,-1.267657,0.308919,0.317516,-0.558539,-0.633145
9,Aaron Rosa,3,-0.568009,-0.103405,-0.353634,-1.267657,0.641123,-1.106295,1.717278,1.507865
...,...,...,...,...,...,...,...,...,...,...
5988,Zhalgas Zhumagulov,2,0.389445,-2.714197,1.117586,1.022395,0.461934,-0.205541,-1.696447,-1.346815
5989,Zhang Lipeng,4,-1.286100,-2.714197,-0.135163,-1.267657,-1.832810,0.221740,0.294893,-0.157365
5992,Zhang Weili,2,0.150082,-2.714197,0.785732,0.626926,0.883831,0.117807,-1.696447,-2.060485
5994,Zu Anyanwu,1,1.346900,-2.714197,-2.333698,-1.267657,-1.832810,-1.106295,0.863847,1.269975
5995,Zubaira Tukhugov,6,-1.525464,-2.714197,-0.160052,0.756602,-1.832810,0.718310,-0.558539,-0.871035