In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import numpy as np

In [2]:
df_original = pd.read_csv(r'bronze\ufc-master.csv')
df_copy = df_original.copy()

In [3]:
Nan_Values = df_copy.isna().sum()

OHE B_Stance og R_Stance

In [4]:
df_copy = df_copy.dropna(subset=['B_Stance'])

In [5]:
df_copy = df_copy.dropna(subset=['R_Stance'])

In [6]:
df_copy['B_Stance'].isna().sum()

0

In [7]:
ohe_columns = ['B_Stance', 'R_Stance']
ohe_stance = OneHotEncoder(sparse_output=False)
ohe_stance.fit(df_copy[ohe_columns])
ohe_column_name = ohe_stance.get_feature_names_out(ohe_columns)
df_copy[ohe_column_name] = ohe_stance.transform(df_copy[ohe_columns])

In [8]:
#DOBBELTSJEKK OM DU FIKK 2 KOLONNER MED NAVN: B_Stance_Switch
df_copy.drop(columns=['B_Stance_Switch '], inplace=True)

DROPPER WEIGHTCLASS RANK

In [9]:
columns_to_drop = []
for column in df_copy.columns:
    if 'weight_rank' in column:
        columns_to_drop.append(column)

print(columns_to_drop)

["R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank']

In [10]:
df_copy.drop(columns=columns_to_drop, inplace=True)

In [11]:
df_copy

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,r_ko_odds,b_ko_odds,B_Stance_Open Stance,B_Stance_Orthodox,B_Stance_Southpaw,B_Stance_Switch,R_Stance_Open Stance,R_Stance_Orthodox,R_Stance_Southpaw,R_Stance_Switch
0,Thiago Santos,Johnny Walker,-150.0,130,66.666667,130.000000,2021-10-02,"Las Vegas, Nevada, USA",USA,Red,...,-110.0,175.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Alex Oliveira,Niko Price,170.0,-200,170.000000,50.000000,2021-10-02,"Las Vegas, Nevada, USA",USA,Blue,...,550.0,120.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Misha Cirkunov,Krzysztof Jotko,110.0,-130,110.000000,76.923077,2021-10-02,"Las Vegas, Nevada, USA",USA,Blue,...,600.0,185.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,Alexander Hernandez,Mike Breeden,-675.0,475,14.814815,475.000000,2021-10-02,"Las Vegas, Nevada, USA",USA,Red,...,110.0,1100.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Joe Solecki,Jared Gordon,-135.0,115,74.074074,115.000000,2021-10-02,"Las Vegas, Nevada, USA",USA,Blue,...,900.0,600.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,Duane Ludwig,Darren Elkins,-155.0,135,64.516129,135.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4892,John Howard,Daniel Roberts,-210.0,175,47.619048,175.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4893,Brendan Schaub,Chase Gormley,-260.0,220,38.461538,220.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4894,Mike Pierce,Julio Paulino,-420.0,335,23.809524,335.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4895,Eric Schafer,Jason Brilz,140.0,-160,140.000000,62.500000,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

Endrer datoformat

In [12]:
df_copy['date'] = df_copy['date'].apply(lambda x: pd.to_datetime(x).strftime('%d-%m-%Y'))

OHE Winner-column

In [13]:
ohe_columns = ['Winner']
ohe_stance = OneHotEncoder(sparse_output=False)
ohe_stance.fit(df_copy[ohe_columns])
ohe_column_name = ohe_stance.get_feature_names_out(ohe_columns)
df_copy[ohe_column_name] = ohe_stance.transform(df_copy[ohe_columns])

OHE Better_rank-column

In [14]:
ohe_columns = ['better_rank']
ohe_stance = OneHotEncoder(sparse_output=False)
ohe_stance.fit(df_copy[ohe_columns])
ohe_column_name = ohe_stance.get_feature_names_out(ohe_columns)
df_copy[ohe_column_name] = ohe_stance.transform(df_copy[ohe_columns])

Fyller ut total_fight_time_secs

In [15]:
average_time = df_copy['total_fight_time_secs'].mean()

In [16]:
def update_time(row):
    if pd.isna(row['total_fight_time_secs']):
        if isinstance(row['finish'], str) and 'dec' in row['finish']:
            return 900
        else:
            return average_time
    else:
        return row['total_fight_time_secs']

In [17]:
df_copy['total_fight_time_secs'] = df_copy.apply(update_time, axis=1)

ENDRER ODDS TIL PROSENT

In [18]:
columns_odds_to_percent = []
for column in df_copy.columns:
    if 'odd' in column:
        columns_odds_to_percent.append(column)

print(columns_odds_to_percent)

['R_odds', 'B_odds', 'r_dec_odds', 'b_dec_odds', 'r_sub_odds', 'b_sub_odds', 'r_ko_odds', 'b_ko_odds']

In [19]:
def odds_to_percent_function(odds):
    
    if odds > 0:
        return (100/(odds + 100))
    if odds < 0:
        odds = abs(odds)
        return ((odds)/(odds + 100))

In [20]:
for column in columns_odds_to_percent:
    df_copy[column] = df_copy[column].apply(odds_to_percent_function)

In [22]:
df_copy.to_csv('df_ufc_masters.csv', index=False)

Fyller ut nan-verdier med 0

In [23]:
columns_to_fill_0 = [
    'B_avg_SIG_STR_landed',
    'B_avg_SIG_STR_pct',
    'B_avg_SUB_ATT',
    'B_avg_TD_landed',
    'B_avg_TD_pct',
    'R_avg_SIG_STR_landed',
    'R_avg_SIG_STR_pct',
    'R_avg_SUB_ATT',
    'R_avg_TD_landed',
    'R_avg_TD_pct'
]

df_copy[columns_to_fill_0].fillna(0)

,B_avg_SIG_STR_landed,B_avg_SIG_STR_pct,B_avg_SUB_ATT,B_avg_TD_landed,B_avg_TD_pct,R_avg_SIG_STR_landed,R_avg_SIG_STR_pct,R_avg_SUB_ATT,R_avg_TD_landed,R_avg_TD_pct
0,3.420000,0.59,0.700000,0.240000,1.00,3.950000,0.480000,0.100000,0.610000,0.360
1,5.160000,0.42,0.800000,0.790000,0.22,2.970000,0.510000,0.500000,2.270000,0.370
2,2.920000,0.41,0.100000,1.150000,0.34,3.770000,0.490000,1.700000,4.480000,0.440
3,4.040000,0.34,0.000000,0.000000,0.00,3.790000,0.360000,0.000000,1.570000,0.350
4,5.220000,0.56,0.000000,2.540000,0.39,2.640000,0.620000,0.600000,2.850000,0.520
...,...,...,...,...,...,...,...,...,...,...
4891,0.000000,0.00,0.000000,0.000000,0.00,13.666667,0.576667,0.000000,0.000000,0.000
4892,0.000000,0.00,0.000000,0.000000,0.00,18.000000,0.550000,1.000000,4.666667,0.790
4893,8.000000,0.34,1.000000,1.000000,1.00,12.000000,0.250000,0.000000,0.000000,0.000
4894,0.000000,0.00,0.000000,0.000000,0.00,40.500000,0.405000,0.000000,3.500000,0.520
4895,31.666667,0.46,0.666667,1.666667,0.50,15.666667,0.588333,1.333333,0.833333,0.145